<!DOCTYPE html>
<html>
    <head><title>BOOK</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    </head>
    <body>
        <h1 id="heading">Book Page</h1>
        <div id="info_div">
            <p>
                {% if img %}
            <!-- {{img.1}} -->
                <img src="data:image/jpeg;base64,{{ img }}" alt="Decoded Image" width="100" height="100">
                <!-- {% for i in img %} -->
                    <!-- <img src="data:image/jpeg;base64,{{i}}" alt="Decoded Image"> -->
                    <!-- <img src="{{i}}" alt="image">  -->
                <!-- {% endfor %} -->
                {% elif drop %}
                    {{drop}}

                {% endif %}
            </p>
        </div>
            
        <div class="form-container">
            <form id="book-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Add a New Book</h2>
                <div class="form-group">
                <label for="book_name">Book Name:</label>
                <input type="text" id="book_name" name="book_name" required>
                </div>
                <div class="form-group">
                <label for="author_name">Author Name:</label>
                <input type="text" id="author_name" name="author_name" required>
                </div>
                <div class="form-group">
                <label for="genere">Genre of Book:</label>
                <input type="text" id="genere" name="genere" required>
                </div>
                <div class="form-group">
                <label for="book_img">Book Image:</label>
                <input type="file" id="book_img" name="img" accept=".jpg, .jpeg, .png, .gif" required>
                </div>
                <div class="form-group">
                <button type="submit" name="upload">Submit</button>
                </div>
            </form>
        </div>

    </body>
</html>
