<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <h1>
        {% if yes %}
            {{yes}}
        {% endif %}

        {% if login_status %}
            <h2 style="color: red;"> {{login_status}} </h2>
        {% endif %}

        {% if signup_info %}
            {{signup_info}}
        {% endif %}

    </h1>
    <div class="login-container">
        <h2>Login</h2>
        <form action="" method="post" >
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button name="login" type="submit">Login</button><br><br>
        </form>
        <a href="signup"><button>SignUp</button></button>
    </div>
</body>
</html>
