body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

/* main {
    padding: 20px;
    text-align: left;
} */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* .product-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
}

.product {
    display: inline-block;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
} */