<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    </head>
    <title>Home</title>
    <body id="body">
        <center><h1>Hi Thamu</h1></center>
        <div id="container" style="clear:both">
            <div id="float-left">
                <ul id="menu">
                    <h1>Ingestion</h1>
                    <li><h3>Subject area</h3></li>
                    <li><h3>ingestion source</h3></li>
                    <li><h3>insgestion controller</h3></li>
                    <li><h3>gcp scheduler</h3></li>
                    <li><h3>scheduler ingestion mapping</h3></li>
                </ul>
                <ul>
                    <h1>Compute</h1>
                    <li><h3>config object</h3></li>
                    <li><h3>airflow scheduler</h3></li>
                    <li><h3>airflow config object mapping</h3></li>
                    <li><h3>gcp configobjs ingestion mapping</h3></li>
                    <li><h3>sscheduler scheduler trigger</h3></li>
                </ul>
            </div>
            <div id="float-right">
                <iframe name="myframe" id="frame">
                    <!-- <img src="r11.jpg"> -->
                </iframe>
            </div>
        </div>

    </body>
</html>